[submodule "nix/systems/steamdeck-nixos/Jovian-NixOS"]
	path = nix/systems/steamdeck-nixos/Jovian-NixOS
	url = https://github.com/Jovian-Experiments/Jovian-NixOS
[submodule "nix/nixpkgs"]
	path = nix/nixpkgs
	url = git@github.com:jonpackard/nixpkgs.git
